*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #0c1022;
}
.container{
    display: flex;
    height: 50px;
    width: 100%;
    background-color: rgb(35, 35, 89);
    align-items: center;
    
}
#n{
    margin-left: 200px;
}
h2{
    background: linear-gradient(to right,orange,white,green);
    -webkit-background-clip: text;
    color: transparent;
}
#n1 {
margin-left: auto;
margin-right: 60px;
}
#n1 a{
    padding-right: 40px;
    text-decoration: none;
    color: rgb(249, 232, 232);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cont{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
}
#h1 h3{
    padding-top: 5px;
}
p{
    padding-top: 10px;
}
#h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(218, 237, 253);
    margin-left: 200px;
    padding-bottom: 250px;
}
#icon a img{
    margin: 10px;
    position: relative;
    height: 30px;
    font-size: 20px;
    color: azure;
   background: linear-gradient(45deg,orange,white,green);
   border-radius: 50%;
   text-decoration: none;
}

#btn{ 
    margin: 10px;
}
button{
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    text-align: center;
    background: linear-gradient(orange,white,green);
    box-shadow: 0px 0px 5px white;

}
#btn button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 5px red;
}


.body1{
    margin-right: 100px;
    padding: 60px;
    margin-left: auto;
    height: 350px;
    width: 350px;
    
}
#img1{
    
    position: relative;
height: 100%;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
background: yellowgreen;
border-radius: 50%;

}
#img1:hover{
    box-shadow: 0px 0px 30px red;
}
#img1::after{
    content: '';
    position: absolute;
    width:320px;
    border-radius: 50%;
    height:320px ;
   background: #0c1022;
}
#img1 #img{
    position: relative;
    width: 320px;
    height: 320px;
    background: ;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
   
}
#img img{
    position: absolute;
top: 0px;
    left: 50%;
    transform: translateX(-50%);
 max-width: 280px;
      object-fit: cover;
     
}
#img1 span{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(orange,white,green);
    border-radius: 50%;
}
#icon a img:hover{
    box-shadow: 0px 0px 9px yellow;
}
#n1 a:hover{
    color: red;
}